h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Gamja Flower', cursive;
    color:midnightblue;
}

#cart {
    display: flex;
    justify-content: center;
    border-top: 5px dashed mediumseagreen;
    border-bottom: 5px dashed palevioletred;
}

.column {
    width: 17%;
    padding: 25px 0px;
    justify-content:space-around;
}

#images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
}

#songs {
    display:block;
    font-size: 24px;
    /*height: 100px; */
    margin: 20px;
    /*background-color:white;*/
    font-family: 'Gaegu', cursive;
    font-weight: bold;
    height: 100px;
}

#songs p {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

#artists {
    font-size: 24px;
    height: 100px;
    margin: 20px;
    font-family: 'Gaegu', cursive;
    /*background-color: crimson;*/
}

#artists p {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

#lengths {
    font-size: 24px;
    height: 100px;
    margin: 20px;
    font-family: 'Gaegu', cursive;
}

#lengths p {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

#links iframe {
    display: block;
    font-size: 18px;
    height: 100px;
    width:140px;
    font-weight: bold;
    margin: 20px;
}

#form {
    width: 100%;
    margin: 0 auto 20px auto;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}

input {
    padding: 5px 10px;
    font-size: 14px;
}

button {
    font-size: 14px;
    padding: 5px 7px;
}

body {
    margin:0px;
    background-image: linear-gradient(#F7CAC9, #91A8D0);
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}



